<div class="card" style="background:{{ color }}">

    <div class="left">
        <h4 class="title"> {{ title }} </h4>
        <p> {{ paragraph }} </p>
    </div>

    <div class="right">
        <a class="btn" href="{{ url }}">
            <span class="btn-content"> {{ text }} </span> 
            <span class="btn-content">►</span>
        </a>
    </div>

</div>